{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>A AWESOME WEB !</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css'%}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src=" {% static 'js/semantic.js' %} "></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts-more.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/modules/data.js" ></script>
    <script src="http://cdn.hcharts.cn/highcharts/modules/drilldown.js"></script>
</head>

<body>
    <div class="ui thin visible left sidebar inverted vertical menu">
        <div class="header item"> <img src={% static "images/logo2.png" %}></div>
        <a class="item" href="/index">
            Data
            <i class="database icon"></i>
        </a>
        <a class="item" href="/chart">
            Charts
            <i class=" bar chart icon"></i>
        </a>
        <a class="item" href="">
            Others
            <i class="idea icon" ></i>
        </a>
    </div>
    <div class="pusher">
        <div class="ui menu">  <!-- 顶栏菜单 -->
            <div class="header item">
                Menu
                <i class="content icon"></i>
            </div>
            <a class="item" href="">About Us</a>
            <a class="item" href="">Others </a>
        </div>
        {% block content_data %}{% endblock %}
    </div>
    <script>
        $('.header.item').click(function(){
            $('.sidebar').sidebar('toggle');
        });
    </script>
    {% block js %}{% endblock %}




</body>




</html>
